@import '../../style/var';

.page-section {
  padding: 100px 70px 0;
}

.form {
  margin-bottom: 100px;

  .form-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1rpx solid $gray;

    input {
      flex: auto;
      height: 70px;
    }

    .btn-send {
      width: 130px;
      border: 0;
      padding: 0;
      background-color: transparent;
    }
  }
}
