@import '../../style/var';

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 50px;
  background-color: #fff;
  font-size: $font-size-small;
  .icon {
    margin-bottom: 16px;
    width: 115px;
    height: 115px;
  }
}

.card-group-title {
  margin-bottom: 16px;
  padding-left: 16px;
  font-weight: bold;
}

.cell-group--small {
  padding: 0 10px;
  .cell {
    padding: 20px;
  }
}

.money {
  @include money();
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 30px;
  @include safe-padding-bottom(10px);
  background-color: #fff;
  box-shadow: $foot-shadow;
}
