@import '../../style/var';

.page-banner {
  padding: 60px 0;
  image {
    margin-bottom: 8px;
    width: 120px;
    height: 120px;
  }
  .money {
    @include money(64px);
    font-weight: bold;
    .money-unit {
      margin-right: 10px;
    }
  }
  .title {
    margin-bottom: 10px;
    font-size: $font-size-small;
  }
  .desc {
    font-size: $font-size-small;
  }
}

.card {
  .money {
    @include money();
  }
}
