@import '../../style/var';

.page-buy-card {
  margin-bottom: 140px;
}

.page-section:first-child {
  padding-top: 20px;
}

.card {
  padding: 0 16px;
  .cell {
    padding: 24px 0;
  }

  .label {
    font-size: $font-size-xlarge;
    &-unit {
      font-size: $font-size-base;
    }
  }
  .money {
    @include money();
    &-desc {
      margin-top: 8px;
      font-size: 22px;
      color: #666;
    }
  }

  &--checked {
    border: 2rpx solid $orange;
    box-shadow: 0 0 8Px rgba($orange, 0.1);
  }
}

.rules {
  padding-top: 0;
  .section-header {
    font-weight: normal;
  }
  &-content {
    margin-bottom: 24px;
    font-size: $font-size-small;
    color: #999;
  }
}
