@import '../../style/var';

.page-intro {
  padding: 24px 30px;
  min-height: 100vh;
  background: $bg-color;

  .swiper {
    height: 580px;
    image {
      height: 580px;
    }
  }

  .scan-btn {
    display: flex;
    justify-content: center;
    image {
      width: 195px;
      height: 185px;
    }
  }
}
