@import 'var';

.page-section {
  padding: 30px;
}

.space {
  height: 20px;
  background-color: $bg-color;
  &--text {
    height: auto;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray;
    &::before,
    &::after {
      content: ' ';
      width: 90px;
      height: 1Px;
      background-color: #e0e0e0;
    }
    .text {
      margin: 0 20px;
    }
  }
  &--large {
    padding: 36px 30px;
    &::before,
    &::after {
      flex: auto;
      width: auto;
    }
  }
}
