$orange: #f1b400;
$blue: #358bce;
$gray: #e0e0e0;
$red: #f05e0e;
$green: #6ed786;

$text-gray: #999;

$bg-color: #f9f9f9;

$font-size-small: 26px;
$font-size-base: 28px;
$font-size-large: 32px;
$font-size-xlarge: 36px;

$foot-shadow: 0 0 6Px rgba(#000, 0.05);

$safe-button: env(safe-area-inset-bottom);

@mixin safe-padding-bottom($value) {
  padding-bottom: calc(#{$value} + #{$safe-button});
}

@mixin money($base: $font-size-xlarge) {
  font-size: $base;
  &-unit {
    margin-right: $base * 0.1;
    font-size: $base * 0.666;
  }
  &-unit--large {
    font-size: $base * 0.8;
  }
}

@mixin line($num: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($num == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $num;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
  }
}
