@import '../../../style/var';

.shop-book-list {
}

.type-filter {
  display: flex;
  justify-content: center;
  margin-top: -16px;
  margin-bottom: 40px;

  &__item {
    margin: 0 32px;
    padding: 16px;
    white-space: nowrap;
    position: relative;

    &--active {
      font-weight: bold;

      &::after {
        content: '';
        width: 70%;
        height: 4px;
        background-color: $orange;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 8px auto 0;
      }
    }
  }
}
