@import '../../style/site';

.page-size-map {
  .site-info-wrapper {
    margin-bottom: 0;
    padding: 30px 20px;
    .site-info {
      padding: 0;
    }
  }

  .footer {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 30px;
  }
}
