@import './style/var';

page {
  font-family: sans-serif;
  font-size: $font-size-base;
  color: #333;
}

page, view {
  box-sizing: border-box;
}

@import 'style/layout';
@import 'style/button';
@import '~taro-ui/dist/style/index.scss';
