@import '~taro-ui/dist/style/index.scss';
@import './style/var';

page {
  font-family: sans-serif;
  font-size: $font-size-base;
  color: #333;
}

page, view {
  box-sizing: border-box;
}

.orange {
  color: $orange;
}
.gray {
  color: $text-gray;
}
.blue {
  color: $blue;
}
.red {
  color: $red;
}

.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}

//#region btn
.btn {
  &::after {
    display: none;
  }
  &--round {
    border-radius: 100px;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  border-color: $orange;
  color: #fff;
  background-color: $orange;
  &::after {
    display: none;
  }
  &--plain {
    color: $orange;
    background-color: transparent;
  }
}
//#endregion

//#region layout
.page-section {
  padding: 30px;

  .section-header {
    margin-bottom: 22px;
    font-size: $font-size-xlarge;
    font-weight: bold;
    .desc {
      margin-left: 20px;
      font-size: $font-size-base;
      font-weight: normal;
      color: $text-gray;
    }
  }
}

.space {
  min-height: 20px;
  background-color: $bg-color;
  &--text {
    height: auto;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    &::before,
    &::after {
      content: ' ';
      width: 90px;
      height: 1Px;
      background-color: #e0e0e0;
    }
    .text {
      margin: 0 20px;
    }
  }
  &--large {
    padding: 36px 30px;
    &::before,
    &::after {
      flex: auto;
      width: auto;
    }
  }
}

.card {
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 10Px;

  &--shadow {
    box-shadow: 0 0 8Px rgba(#000, 0.08);
  }

  &-body {
    padding: 20px;
  }
}

.cell-group {
  padding: 0 30px;
}
.cell {
  display: flex;
  align-items: center;
  padding: 36px 0;
  border-bottom: 1rpx solid $gray;
  &:last-child {
    border-bottom: 0;
  }

  &__hd {
    flex: 0 0 auto;
    margin-right: 16px;
  }
  &__bd {
    flex: 1 0 auto;
    font-size: $font-size-large;
    .desc {
      margin-top: 4px;
      font-size: $font-size-base - 2;
    }
  }
  &__ft {
    flex: 1 0 auto;
    font-size: $font-size-large - 2;
    text-align: right;
    button {
      vertical-align: middle;
    }
  }
  &__link {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    image {
      width: 10px * 2;
      height: 18px * 2;
    }
  }
}
//#endregion

//#region component
.page--gray {
  background: $bg-color;
  min-height: 100vh;
}

.buy-rules {
  padding-top: 0;
  .section-header {
    font-weight: normal;
  }
  &-content {
    margin-bottom: 24px;
    font-size: $font-size-small;
    color: #999;
  }
}

.page-banner {
  padding: 30px 0;
  text-align: center;
  background-color: #fff;
}

.modal {
  &-container {
    position: relative;
    padding: 26px 30px 40px;
  }
  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
    .icon {
      width: 36px;
      height: 36px;
    }
  }
  &-header {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
  }
}
//#endregion
